## Testing Installed Libraries

In [11]:
import mysql.connector
import pandas as pd

## Test Connection to DB

In [2]:
cnx = mysql.connector.connect(user='admin', password='admin',
                              host='127.0.0.1',
                              database='demos')

In [3]:
#Create Query
query = "SELECT * FROM classicmodels.customers limit 5"

## MySql Connector Only

In [5]:
#Create 'cursor' object for iteration over records
cursor = cnx.cursor()

In [6]:
#Fill cursor with query results
cursor.execute(query)

In [7]:
#Use either fetchall method or looping operations to iterate over cursor data
print cursor.fetchall()

[(103, u'Atelier graphique', u'Schmitt', u'Carine ', u'40.32.2555', u'54, rue Royale', None, u'Nantes', None, u'44000', u'France', 1370, Decimal('21000.00')), (112, u'Signal Gift Stores', u'King', u'Jean', u'7025551838', u'8489 Strong St.', None, u'Las Vegas', u'NV', u'83030', u'USA', 1166, Decimal('71800.00')), (114, u'Australian Collectors, Co.', u'Ferguson', u'Peter', u'03 9520 4555', u'636 St Kilda Road', u'Level 3', u'Melbourne', u'Victoria', u'3004', u'Australia', 1611, Decimal('117300.00')), (119, u'La Rochelle Gifts', u'Labrune', u'Janine ', u'40.67.8555', u'67, rue des Cinquante Otages', None, u'Nantes', None, u'44000', u'France', 1370, Decimal('118200.00')), (121, u'Baane Mini Imports', u'Bergulfsen', u'Jonas ', u'07-98 9555', u'Erling Skakkes gate 78', None, u'Stavern', None, u'4110', u'Norway', 1504, Decimal('81700.00'))]

In [ ]:
cnx.close()

## Using Pandas

In [ ]:
cnx = mysql.connector.connect(user='admin', password='admin',
                              host='127.0.0.1',
                              database='demos')

In [4]:
#Pandas is much easier to query
sqlDf = pd.read_sql(query,con=cnx)

In [5]:
#Results are easier to view
#'head' is operation to print first n rows
sqlDf.head(3)

,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit
0,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",None,Nantes,None,44000,France,1370,21000.0
1,112,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,None,Las Vegas,NV,83030,USA,1166,71800.0
2,114,"Australian Collectors, Co.",Ferguson,Peter,03 9520 4555,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,1611,117300.0

In [6]:
cnx.close()

## Plotly allows interactive visualizations

In [14]:
#Initializing plotly
#pt.set_credentials_file(username='thedanindanger', api_key='xxxxxx')

In [15]:
plotlyTable = ff.create_table(sqlDf)
py.iplot(plotlyTable, filename='Plotly-Example')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~thedanindanger/0 or inside your plot.ly account where it is named 'Plotly-Example'

In [52]:
%%cmd

git --version

Microsoft Windows [Version 10.0.16299.371]
(c) 2017 Microsoft Corporation. All rights reserved.

(base) C:\Users\putti\Google Drive\Articles\Coding Workshop for Accountants\code>
(base) C:\Users\putti\Google Drive\Articles\Coding Workshop for Accountants\code>git --version
git version 2.17.0.windows.1

(base) C:\Users\putti\Google Drive\Articles\Coding Workshop for Accountants\code>